*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
}


.center{
     /* color: white; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.img{
    
    background: linear-gradient(rgb(196, 196, 228) ,rgb(109, 109, 240)) ;
    /* background-repeat: no-repeat;*/
    background-size: 85% 100%; 
    width: 60vw;
    height: 100vh;
    position: relative;
    padding: 3em;   
    /* background-size: cover; */
}




.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 20%;
}

.logo img{
    width: 10vw;
    top: 0;
    /* height: 10vh; */
}
